.item {
  width: 20em;
  height: 16em;
  max-height: 18em;
  background-color: #979dac;
  margin: 2em;
  padding: 0%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.item_img {
  background-color: white;
  width: 20em;
  height: 12em;
  border-bottom: 1px solid gainsboro;
}

.img_body {
  width: 20em;
  height: 12em;
}

.item_title {
  margin: 0;
  text-align: center;
}

.description {
  display: block;
}

.description > small {
  display: block;
}

.item_btn_price {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item_btn,
.item_btn_1 {
  background-color: #03045e;
  border: 0;
  color: white;
  height: 2em;
  border-radius: 0.3em;
  margin: 0.5em;
}

.item_btn:hover,
.item_btn_1:hover {
  cursor: pointer;
  background-color: #01022b;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.item_btn_1 {
  height: 3em;
  width: 9em;
}

.item_price {
  font-size: medium;
}

.explore_item {
  display: flex;
  flex-wrap: wrap;
}

.nav_header {
  background-color: #03045e;
  display: flex;
  justify-content: center;
}

.nav_head {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title {
  display: flex;
  padding-left: 20em;
}

.nav_title {
  color: white;
  margin-left: 0.5em;
}

.nav_img {
  width: 5em;
}

.basket {
  display: flex;
  cursor: pointer;
}

.basket_dot,
.basket_zero {
  background-color: red;
  object-fit: contain;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  color: white;
  text-align: center;
  margin-top: 1em;
  margin-left: -1em;
}

.basket_zero {
  visibility: hidden;
}

.nav_basket {
  object-fit: contain;
  width: 2em;
}

.add_link {
  text-decoration: none;
  color: white;
}

.modal {
  width: 20em;
  border: 1px solid #03045e;
  margin: 5em;
  display: flex;
  flex-direction: column;
}

.modal_div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal_header {
  background-color: #03045e;
  width: 100%;
  height: auto;
}

.modal_title {
  color: white;
}

.modal_item {
  display: flex;
  justify-content: center;
  border: 1px solid #01022b;
}

.modal_img {
  width: 10em;
  object-fit: contain;
}

.item_select {
  width: 5em;
  height: 2em;
}

.item_false {
  visibility: hidden;
}

.item_detail_img_1 {
  width: 30em;
  max-width: 100%;
  height: auto;
  max-height: 22em;
}
.item_detail {
  margin-top: 7em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.item_detail2 {
  word-wrap: break-word;
  width: 40em;
}

.footer {
  display: flex;
  width: 100%;
  background-color: #03045e;
  height: 10em;
  align-items: flex-end;
  margin-top: 5em;
}

@media only screen and (max-width: 700px) {
  .title {
    display: flex;
    padding: 0;
  }
}
